* {
    box-sizing: border-box;
    line-height: 1;
}
body {
    background-color: #e2edbe;
}
.title {
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.monument-list {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
}
.info-list {
    font-size: 18px;
    font-weight: 500;
}
.info-link {
    font-size: 14px;
}
.info-link:hover {
    color: red;
}
.list{
    line-height: 1.5;
}
.text {
    max-width: 485px;
}
#map {
   height: 900px;
   width: 1500px;
   margin: 20px 30px;
}